@font-face {
    font-family: run; 
    src: url('../fonts/run.otf'); 
   }
body{
    background-image:url('../img/forodvait.jpg');
    background-size: cover;    
    text-align: justify;
    font-family: run;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 2em;
    color:white;
}      
    img{
    margin-top: 30px;
    margin-left: 0px;   
    border: 3px solid #d9ac4e;
    border-style:dotted;
    vertical-align: inherit;
        filter:grayscale();
}
h3,span{
color:blue;
}
#button_img {
    width: 173px;
    height: 60px;
    background:url('../img/button.png');
    background-position: -102px -242px;
}

#button_img:hover {
    background-position: -102px -22px;
/*    -162  -22*/
}

#button_img:active {
    background-position:-102px -92px;
}